body {
    background-image: url("images/bg.jpg");
    background-size: 100%;
}
#logoimg {
    width: 300px;
    padding: 10px;
    position: absolute;
}
#header{
    position: absolute;
    width: 100%;
    height: 85px;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
}
#contactdetails {
    position: absolute;
    color: white;
    top: 24px;
    left: 77%;
    font-size: 14px;
}
#gmaillink {
    text-decoration: none;
    color: white;
}
input[type="text"] {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}
input[type="password"] {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}
input[type="submit"] {
    padding: 10px;
    border-radius: 8px;
}
#loginform {
    position: absolute;
    top: 39%;
    left: 39%;
    background-color:rgb(0,0,0, 0.8);
    padding: 40px;
    border-radius: 10px;
}
