#logoimg {
    width: 300px;
    padding: 10px;
    position: absolute;
}
#header{
    position: absolute;
    height: 85px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    
}
#contactdetails {
    position: absolute;
    color: white;
    top: 24px;
    left: 77%;
    font-size: 14px;
}
#gmaillink {
    text-decoration: none;
    color: white;
}
body {
    background-image: url("images/bg.jpg");
    background-size: 100%;
}