body {
    background-image: url("images/bg.jpg");
}
input {
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}
select {
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}
#customerinfo {
    float: left;
    background-color: black;
    color: white;
    opacity: 0.8;
    padding: 15px;
    border-radius: 7px;
}
#paymentinfo {
    float: right;
    background-color: black;
    color: white;
    opacity: 0.8;
    padding: 15px;
    border-radius: 7px;
}
#both {
    color: white;
    width: 700px;
    margin: 0 auto;
}

