.tagline {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 30%;
    left: 25%; 
}
input[type="submit"]{
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 48%;
    background-color: black;
    color: white;
    opacity: 0.8;
    border-radius: 7px;
}
body {
    background-image: url("images/bg.jpg");
    background-size: 100%;
}
#logoimg {
    width: 300px;
    padding: 10px;
    position: absolute;
}
#header{
    position: absolute;
    width: 100%;
    height: 85px;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
}
#contactdetails {
    position: absolute;
    color: white;
    top: 24px;
    left: 77%;
    font-size: 14px;
}
#accounts {
    position: absolute;
    top: 62%;
    left: 41%;
}
#footer {
    position: absolute;
    left: 0;
    top: 92.6%;
    width: 100%;
    height: 45px;
    background-color: black;
    opacity: 0.5;
}
#rights {
    position: absolute;
    top: 92%;
    color: white;
    left: 46%;
}
#gmaillink {
    text-decoration: none;
    color: white;
}
#login {
    position: absolute;
    top: 15%;
    left: 77%;
    color:black;
  
}

#login-link {
    color: black;
}
